* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.headerone {
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 40px;
  font-size: 14px;
}

.headerone .logo i {
  margin-right: 12px;
  cursor: pointer;
  color: black;
}

.headerone .rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.headerone .rightside i {
  margin-right: 6px;
  color: orange;
}

.headerone .rightside p {
  color: black;
}

.headertwo {
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 2px 8px black 0, 0, 0, 0.08;
          box-shadow: 0 2px 8px black 0, 0, 0, 0.08;
  padding: 18px 40px;
  position: relative;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 35px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

nav ul li a:hover {
  color: orange;
}

.team-section {
  padding: 80px 0;
  background-color: white;
}

.team-section .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.team-section p {
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  color: gray;
  margin-bottom: 10px;
}

.team-section .section-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
  color: black;
}

.team-section .team-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.team-section .team-grid .team-member {
  width: 30%;
  background: white;
  padding: 20px;
  -webkit-box-shadow: 0px 4px 18px black 0, 0, 0, 0.08;
          box-shadow: 0px 4px 18px black 0, 0, 0, 0.08;
  text-align: center;
  border-radius: 4px;
}

.team-section .team-grid .team-member .member-photo img {
  width: 180px;
  height: 180px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

.team-section .team-grid .team-member .member-info .member-name {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 8px;
  color: grey;
}

.team-section .team-grid .team-member .member-info .member-role {
  font-size: 15px;
  color: gray;
  margin-bottom: 15px;
}

.team-section .team-grid .team-member .member-info .member-desc {
  font-size: 14px;
  line-height: 22px;
  color: gray;
}
