* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerone {
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    font-size: 14px;
}

.headerone .logo i {
    margin-right: 12px;
    cursor: pointer;
    color: black;
}

.headerone .rightside {
    display: flex;
    align-items: center;
    gap: 15px;
}

.headerone .rightside i {
    margin-right: 6px;
    color: orange;

}

.headerone .rightside p {
    color: black;
}


.headertwo {
    width: 100%;
    background: white;
    box-shadow: 0 2px 8px black (0, 0, 0, 0.08);
    padding: 18px 40px;
    position: relative;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

nav ul li a:hover {
    color: orange;
}



.team-section {
    padding: 80px 0;
    background-color: white;

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    p {
        text-align: center;
        font-size: 14px;
        letter-spacing: 2px;
        color: gray;
        margin-bottom: 10px;
    }

    .section-title {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 50px;
        color: black;
    }

    .team-grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;


        .team-member {
            width: 30%;
            background: white;
            padding: 20px;
            box-shadow: 0px 4px 18px black (0, 0, 0, 0.08);
            text-align: center;
            border-radius: 4px;

            .member-photo img {
                width: 180px;
                height: 180px;
                border-radius: 100px;
                object-fit: cover;
                margin-bottom: 20px;
            }

            .member-info {
                .member-name {
                    font-size: 22px;
                    font-weight: 500;
                    margin-bottom: 8px;
                    color: grey;
                }

                .member-role {
                    font-size: 15px;
                    color: gray;
                    margin-bottom: 15px;
                }

                .member-desc {
                    font-size: 14px;
                    line-height: 22px;
                    color: gray;



                    
                }
            }
        }
    }
}


#services {
    width: 100%;
    margin-bottom: 120px;

    .services_text {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
        margin-bottom: 32px;

        p {
            color: grey;
        }

        h3 {
            font-size: 20px;

        }
    }

    .services_cards {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 30px;

        .services_card {
            width: 30%;

            i {
                color: orangered;
                font-size: 30px;
            }

            h3 {
                font-size: 20px;
                color: grey;
                margin-bottom: 12px;
            }

            p {
                font-size: 20px;
                color: grey;
                margin-bottom: 12px;
            }

            button {
                border: 2px solid white;
                font-size: 17px;
                color: orangered;

            }
        }
    }
}

#products {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .text {
        span {
            font-size: 16px;
            color: grey;
            margin-bottom: 15px;

        }

        h4 {
            font-size: 40px;
            font-weight: 900;
            margin: 10px 0;
        }

        p {
            color: rgb(146, 144, 144);
        }
    }

    .boxes {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .box {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 5%;

            .box-image {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .box-text {
                h6 {
                    font-size: 18px;
                    margin: 10px 0;
                }

                .icons {

                    span {

                        margin: 10px;
                    }
                }

                .btns {
                    font-size: 18px;
                    margin: 10px;

                    button {
                        padding: 10px;
                    }
                }
            }
        }
    }
}

.top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 570px;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 12px;
    padding: 20px 20px;

    .contact {
        display: flex;
        gap: 23px;

        i {
            color: orangered;
        }
    }
}

.bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 220px;
    margin: 0 auto;
    font-size: 15px;
    background-color: white;
    position: fixed;
    padding: 20px 20px;

    .icon {
        display: none;
    }

    nav {
        ul {
            display: flex;
            gap: 23px;
            list-style: none;
            margin-left: 124px;

            a {
                text-decoration: none;
                color: black;

                &:hover {
                    color: orangered;
                }
            }
        }
    }
}

@media screen and (min-width:300px) and (max-width:576px) {
    .services_cards {
        display: block;
    }

    .bottom {

        .icon {
            display: flex;
        }

        nav {
            ul {
                display: none;
            }
        }
    }
}



