* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerone {
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    font-size: 14px;
}

.headerone .logo i {
    margin-right: 12px;
    cursor: pointer;
    color: black;
}

.headerone .rightside {
    display: flex;
    align-items: center;
    gap: 15px;
}

.headerone .rightside i {
    margin-right: 6px;
    color: orange;

}

.headerone .rightside p {
    color: black;
}


.headertwo {
    width: 100%;
    background: white;
    box-shadow: 0 2px 8px black (0, 0, 0, 0.08);
    padding: 18px 40px;
    position: relative;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

nav ul li a:hover {
    color: orange;
}



.team-section {
    padding: 80px 0;
    background-color: white;

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    p {
        text-align: center;
        font-size: 14px;
        letter-spacing: 2px;
        color: gray;
        margin-bottom: 10px;
    }

    .section-title {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 50px;
        color: black;
    }

    .team-grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;


        .team-member {
            width: 30%;
            background: white;
            padding: 20px;
            box-shadow: 0px 4px 18px black (0, 0, 0, 0.08);
            text-align: center;
            border-radius: 4px;

            .member-photo img {
                width: 180px;
                height: 180px;
                border-radius: 100px;
                object-fit: cover;
                margin-bottom: 20px;
            }

            .member-info {
                .member-name {
                    font-size: 22px;
                    font-weight: 500;
                    margin-bottom: 8px;
                    color: grey;
                }

                .member-role {
                    font-size: 15px;
                    color: gray;
                    margin-bottom: 15px;
                }

                .member-desc {
                    font-size: 14px;
                    line-height: 22px;
                    color: gray;
                }
            }
        }
    }
}
